<!--Cajetín de búsqueda -->

<form method="get" action="/quizes">
	Buscar: 
    <input type="text" name="busqueda" />
    <button type="submit" value="Buscar"><img src="http://megaicons.net/static/img/icons_sizes/265/658/32/search-icon.png" style="width:auto; max-width:14px; height:auto;"></button>
</form>

<table>
	
	<%	for (var i=0; i<quizes.length; i++) { %>
			<tr>
				<td><a class="pregunta" href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
				</td>
				<!-- Sólo con autorización -->
				<% if(session.user) {
				   if (session.user.isAdmin || session.user.id === quizes[i].UserId) { %>
					<td><a href="/quizes/<%= quizes[i].id %>/edit">
						<button><img src="http://megaicons.net/static/img/icons_sizes/476/1668/16/edit-icon.png" ></button></a>
					</td>
					<td>
						<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
							<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');"><img src="http://megaicons.net/static/img/icons_sizes/8/1331/16/delete-icon.png" ></button>
						</form>
					</td>	
				<% } %>
				<% if(quizes[i].isFav) { %>
						<td>
							<form method="post" action="/user/<%= session.user.id%>/favourites/<%= quizes[i].id %>?_method=delete">
								<button type="submit" 
									onClick="return confirm('Desmarcar como favorito: <%= quizes[i].pregunta %>');"><img src="http://megaicons.net/static/img/icons_sizes/51/1538/16/favourites-star-sh-icon.png" ></button>
							</form>
						</td>
					<% } else { %>
						<td>
							<form method="post" action="/user/<%= session.user.id%>/favourites/<%= quizes[i].id %>?_method=put">
								<button type="submit"><img src="http://megaicons.net/static/img/icons_sizes/325/841/16/star-empty-icon.png" ></button>
							</form>
						</td>
					<% } %>
				<!-- ///////////////////// -->
			</tr>
		<% } %>
	<% } %>

</table>
<p>

<!-- Sólo con autorización -->
<% if (session.user) { %>
	<br>
	<a href="/quizes/new"><button type="button"><img src="http://megaicons.net/static/img/icons_sizes/532/2031/16/add-icon.png">  Crear pregunta</button></a>
<% } %>