<h3>Estadísticas</h3>
<br>
 <table class="tabla">
        <tr>
          <td>Número de preguntas</td>
          <td><%=nPreguntas%></td>
        </tr>
        <tr class="xx">
          <td>Número de comentarios totales</td>
          <td><%=nComments%></td>
        </tr>
        <tr>
          <td>Número medio de comentarios por pregunta</td>
          <td><%=nMedioComments%></td>
        </tr>
        <tr class="xx">
          <td>Número de preguntas sin comentarios</td>
          <td><%=nPreguntasSinComments%></td>
        </tr>
        <tr>
          <td>Número de preguntas con comentarios</td>
          <td><%=nPreguntasConComments%></td>
        </tr>
  </table>

<!--
 <ul class="left">
  <li>Número de preguntas: <%=nPreguntas %> </li>
  <li>Número de comentarios totales: <%=nComments%></li>
  <li>Número medio de comentarios por pregunta: <%=nMedioComments%> </li>
  <li>Número de preguntas sin comentarios: <%=nPreguntasSinComments%> </li>
  <li>Número de preguntas con comentarios: <%=nPreguntasConComments%> </li>
</ul> -->